@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
:global(::-webkit-scrollbar) {
  width: 10px;
}

:global(::-webkit-scrollbar-track) {
  background: #2d3748;
  border-radius: 10px;
}

:global(::-webkit-scrollbar-thumb) {
  background: #4a5568;
  border-radius: 10px;
}

:global(::-webkit-scrollbar-thumb:hover) {
  background: #6b7280;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #0640e1;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 150%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

#browser-url {
  pointer-events: none
}

.browser-img {
  display: block;
  object-fit: contain;
  max-width: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
}

.expandable-input textarea {
  min-height: 60px;
  max-height: 200px;
  overflow-y: hidden;
  resize: none;
}

.sender-name {
  margin-bottom: 4px;
  display: flex;
  align-items: baseline;
}

.msg-content {
  background-color: #fff;
}

.timestamp {
  margin-left: 8px;
  font-size: smaller;
  color: #aaa;
}

#message-container {
  height: 390px;
  overflow-y: auto;
}

#message-container::-webkit-scrollbar {
  width: 4px;
}

#message-container::-webkit-scrollbar-track {
  background: #020617;
  border-radius: 10px;
}

#message-container::-webkit-scrollbar-thumb {
  background: #4337c9;
  border-radius: 10px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #4337c9;
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
  top: 3px;
}

#terminal-content {
  height: 100%;
}

#terminal-content :global(.xterm) {
  padding: 10px;
  height: 100%;
  /* Ensure terminal content height is fixed */
}

#terminal-content :global(.xterm-viewport) {
  overflow-y: auto !important;
  height: 100%;
}

#terminal-content::-webkit-scrollbar,
#terminal-content :global(.xterm-viewport)::-webkit-scrollbar {
  width: 4px;
}

#terminal-content::-webkit-scrollbar-track,
#terminal-content :global(.xterm-viewport)::-webkit-scrollbar-track {
  background: #020617;
  border-radius: 10px;
}

#terminal-content::-webkit-scrollbar-thumb,
#terminal-content :global(.xterm-viewport)::-webkit-scrollbar-thumb {
  background: #4337c9;
  border-radius: 10px;
}

.internet-status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.online {
  background-color: #22c55e;
}

.offline {
  background-color: #ef4444;
}

@keyframes roll {
  0% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}

.token-count-animation {
  display: inline-block;
  animation: roll 0.5s ease-in-out;
}

.control-panel {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.control-panel>*:not(:first-child) {
  margin-left: 20px;
}

.right-controls {
  display: flex;
}

.right-controls>*:not(:last-child) {

  border-right: 1px solid #0f5bc6;
  padding-right: 20px;
}